/RPGManager/RPGManager/Content/*.js
/RPGManager/RPGManager/Content/*.map
/RPGManager/packages
/RPGManager/node_modules
/RPGManager/RPGManager/bin
/RPGManager/RPGManager.Database/bin
/RPGManagerService/RPGManagerService/bin
/RPGManagerService/RPGManagerService/obj
/RPGManagerService/packages
/RPGManager/RPGManager/obj
/RPGManager/RPGManager.Database/obj
/RPGManager/.vs/RPGManager/v15/.suo
/RPGManager/.vs/RPGManager/v15/Server/sqlite3/storage.ide
/RPGManager/.vs/RPGManager/v15/Server/sqlite3/storage.ide-shm
/RPGManager/.vs/RPGManager/v15/Server/sqlite3/storage.ide-wal
/RPGManager/.vs/config/applicationhost.config
/RPGManagerService/.vs/RPGManagerService/v15/.suo
/RPGManagerService/.vs/RPGManagerService/v15/Server/sqlite3/storage.ide
/RPGManagerService/.vs/RPGManagerService/v15/Server/sqlite3/storage.ide-shm
/RPGManagerService/.vs/RPGManagerService/v15/Server/sqlite3/storage.ide-wal
/RPGManager/.vs/RPGManager/v15/Server/sqlite3/db.lock
/RPGManagerService/.vs/RPGManagerService/v15/Server/sqlite3/db.lock
