@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin="true"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin="true"></script>
    @Scripts.Render("~/Bundles/External")
    <script src="@("http://" + Request.Url.Host + "/RPGManagerService/signalr/hubs")"></script>
    @Scripts.Render("~/Bundles/Content")
    @Styles.Render("~/Bundles/Content/Styles")
</head>
<body>
    <div id="main_content">

    </div>
    <script>ReactDOM.render(React.createElement(WrapperView), document.querySelector("#main_content"));</script>
</body>
</html>
